body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u962 {
  position:absolute;
  left:33px;
  top:66px;
  width:239px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u963 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:41px;
  top:116px;
  width:223px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u966 {
  position:absolute;
  left:41px;
  top:156px;
  width:223px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u967 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u968 {
  position:absolute;
  left:314px;
  top:66px;
  width:223px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u969 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u970 {
  position:absolute;
  left:301px;
  top:330px;
  width:890px;
  height:1px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u972 {
  position:absolute;
  left:314px;
  top:116px;
  width:877px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:873px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u974 {
  position:absolute;
  left:301px;
  top:372px;
  width:890px;
  height:1px;
}
#u975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u976 {
  position:absolute;
  left:301px;
  top:417px;
  width:890px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u978 {
  position:absolute;
  left:301px;
  top:466px;
  width:890px;
  height:1px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u980 {
  position:absolute;
  left:301px;
  top:514px;
  width:890px;
  height:1px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:314px;
  top:209px;
  width:135px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u983 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u984 {
  position:absolute;
  left:316px;
  top:342px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u986 {
  position:absolute;
  left:316px;
  top:387px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u988 {
  position:absolute;
  left:316px;
  top:436px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u990 {
  position:absolute;
  left:316px;
  top:477px;
  width:9px;
  height:16px;
  color:#0099FF;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u992 {
  position:absolute;
  left:301px;
  top:562px;
  width:890px;
  height:1px;
}
#u993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u994 {
  position:absolute;
  left:316px;
  top:525px;
  width:9px;
  height:16px;
  color:#0099FF;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:2px;
}
#u996 {
  position:absolute;
  left:301px;
  top:287px;
  width:890px;
  height:1px;
}
#u997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:316px;
  top:298px;
  width:43px;
  height:20px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1000 {
  position:absolute;
  left:433px;
  top:342px;
  width:37px;
  height:20px;
  color:#FF0000;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1002 {
  position:absolute;
  left:433px;
  top:387px;
  width:37px;
  height:20px;
  color:#FF0000;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1004 {
  position:absolute;
  left:433px;
  top:436px;
  width:37px;
  height:20px;
  color:#FF0000;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1006 {
  position:absolute;
  left:433px;
  top:477px;
  width:37px;
  height:20px;
  color:#0099FF;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u1008 {
  position:absolute;
  left:433px;
  top:525px;
  width:37px;
  height:20px;
  color:#0099FF;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:433px;
  top:298px;
  width:57px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1012 {
  position:absolute;
  left:630px;
  top:298px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:519px;
  top:342px;
  width:489px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:1092px;
  top:298px;
  width:29px;
  height:20px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:1070px;
  top:484px;
  width:29px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:1109px;
  top:484px;
  width:29px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:1070px;
  top:523px;
  width:29px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1024 {
  position:absolute;
  left:1109px;
  top:523px;
  width:29px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:276px;
}
#u1026 {
  position:absolute;
  left:509px;
  top:287px;
  width:1px;
  height:275px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:130px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:276px;
}
#u1028 {
  position:absolute;
  left:389px;
  top:287px;
  width:1px;
  height:275px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:130px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:276px;
}
#u1030 {
  position:absolute;
  left:1018px;
  top:287px;
  width:1px;
  height:275px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:130px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:1075px;
  top:342px;
  width:57px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:1075px;
  top:383px;
  width:57px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:1075px;
  top:434px;
  width:57px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:519px;
  top:385px;
  width:489px;
  height:20px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:519px;
  top:432px;
  width:489px;
  height:20px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:519px;
  top:484px;
  width:489px;
  height:20px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:519px;
  top:525px;
  width:489px;
  height:20px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:323px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:509px;
  top:646px;
  width:510px;
  height:323px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:154px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:579px;
  top:689px;
  width:50px;
  height:16px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:579px;
  top:727px;
  width:24px;
  height:16px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:579px;
  top:765px;
  width:29px;
  height:16px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:580px;
  top:800px;
  width:19px;
  height:16px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1056 {
  position:absolute;
  left:658px;
  top:686px;
  width:91px;
  height:22px;
}
#u1056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1056_input:disabled {
  color:grayText;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1057 {
  position:absolute;
  left:774px;
  top:683px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1058 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:853px;
  top:688px;
  width:57px;
  height:20px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:658px;
  top:727px;
  width:91px;
  height:22px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1061_input:disabled {
  color:grayText;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  position:absolute;
  left:774px;
  top:721px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1063 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:853px;
  top:725px;
  width:43px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1066 {
  position:absolute;
  left:658px;
  top:765px;
  width:91px;
  height:22px;
}
#u1066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1066_input:disabled {
  color:grayText;
}
#u1067 {
  position:absolute;
  left:658px;
  top:797px;
  width:91px;
  height:22px;
}
#u1067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1067_input:disabled {
  color:grayText;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1068 {
  position:absolute;
  left:774px;
  top:759px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1069 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:853px;
  top:768px;
  width:43px;
  height:20px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1072 {
  position:absolute;
  left:600px;
  top:886px;
  width:120px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1073 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1074 {
  position:absolute;
  left:763px;
  top:886px;
  width:120px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1075 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:170px;
}
#u1076 {
  position:absolute;
  left:641px;
  top:675px;
  width:125px;
  height:170px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:77px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:350px;
  height:19px;
}
#u1078p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:336px;
  height:4px;
}
#u1078p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:338px;
  height:6px;
}
#u1078p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1078p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u1078p002 {
  position:absolute;
  left:319px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1078p002_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u1078.compound {
  width:0px;
  height:0px;
}
#u1078 {
  position:absolute;
  left:767px;
  top:759px;
  width:332px;
  height:1px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:1134px;
  top:750px;
  width:197px;
  height:36px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1082 {
  position:absolute;
  left:368px;
  top:209px;
  width:60px;
  height:60px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:449px;
}
#u1084p000 {
  position:absolute;
  left:-219px;
  top:216px;
  width:442px;
  height:6px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u1084p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:6px;
}
#u1084p001 {
  position:absolute;
  left:96px;
  top:392px;
  width:26px;
  height:26px;
}
#u1084p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u1084.compound {
  width:0px;
  height:0px;
}
#u1084 {
  position:absolute;
  left:509px;
  top:240px;
  width:3px;
  height:437px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:210px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1086 {
  position:absolute;
  left:1039px;
  top:514px;
  width:60px;
  height:60px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:127px;
}
#u1088p000 {
  position:absolute;
  left:-58px;
  top:55px;
  width:120px;
  height:6px;
  -webkit-transform:rotate(142deg);
  -moz-transform:rotate(142deg);
  -ms-transform:rotate(142deg);
  transform:rotate(142deg);
}
#u1088p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:6px;
}
#u1088p001 {
  position:absolute;
  left:-55px;
  top:78px;
  width:26px;
  height:26px;
}
#u1088p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u1088.compound {
  width:0px;
  height:0px;
}
#u1088 {
  position:absolute;
  left:1012px;
  top:551px;
  width:3px;
  height:115px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:50px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1090 {
  position:absolute;
  left:774px;
  top:797px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1091 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:853px;
  top:801px;
  width:43px;
  height:20px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
