body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:697px;
}
#u1815 {
  position:absolute;
  left:1274px;
  top:97px;
  width:730px;
  height:697px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:340px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:688px;
}
#u1817 {
  position:absolute;
  left:82px;
  top:106px;
  width:1001px;
  height:688px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:336px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:533px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:606px;
  top:220px;
  width:456px;
  height:533px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:258px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1821 {
  position:absolute;
  left:688px;
  top:128px;
  width:254px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1823 {
  position:absolute;
  left:157px;
  top:220px;
  width:365px;
  height:276px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1824 {
  position:absolute;
  left:2px;
  top:54px;
  width:361px;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1825 {
  position:absolute;
  left:212px;
  top:128px;
  width:254px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1827 {
  position:absolute;
  left:642px;
  top:231px;
  width:387px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1829 {
  position:absolute;
  left:642px;
  top:361px;
  width:387px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1831 {
  position:absolute;
  left:648px;
  top:492px;
  width:387px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1833 {
  position:absolute;
  left:642px;
  top:628px;
  width:387px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1835 {
  position:absolute;
  left:1485px;
  top:128px;
  width:254px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0033FF;
  text-align:center;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0066FF;
}
#u1837 {
  position:absolute;
  left:446px;
  top:23px;
  width:289px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0066FF;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:1350px;
  top:231px;
  width:543px;
  height:387px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:186px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1842 {
  position:absolute;
  left:1485px;
  top:369px;
  width:349px;
  height:74px;
  font-size:20px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:23px;
  width:345px;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0588235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1844 {
  position:absolute;
  left:1485px;
  top:479px;
  width:345px;
  height:77px;
  font-size:20px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:10px;
  width:341px;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1846 {
  position:absolute;
  left:1367px;
  top:392px;
  width:81px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u1848 {
  position:absolute;
  left:1367px;
  top:503px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1850 {
  position:absolute;
  left:1367px;
  top:295px;
  width:81px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1852 {
  position:absolute;
  left:1485px;
  top:274px;
  width:341px;
  height:70px;
  font-size:20px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:24px;
  width:337px;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0066FF;
}
#u1854 {
  position:absolute;
  left:1567px;
  top:20px;
  width:289px;
  height:67px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0066FF;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0066FF;
}
#u1856 {
  position:absolute;
  left:107px;
  top:585px;
  width:489px;
  height:75px;
  font-size:18px;
  color:#0066FF;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:206px;
  height:31px;
}
#u1858 {
  position:absolute;
  left:1083px;
  top:443px;
  width:191px;
  height:5px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:-6px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1860 {
  position:absolute;
  left:379px;
  top:1004px;
  width:172px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0066FF;
  text-align:center;
}
#u1862 {
  position:absolute;
  left:82px;
  top:861px;
  width:569px;
  height:40px;
  font-size:28px;
  color:#0066FF;
  text-align:center;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:158px;
}
#u1864 {
  position:absolute;
  left:364px;
  top:1200px;
  width:201px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:65px;
  width:197px;
  word-wrap:break-word;
}
#u1866 {
  position:absolute;
  left:465px;
  top:1100px;
  width:0px;
  height:0px;
}
#u1866_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u1866_seg1 {
  position:absolute;
  left:-10px;
  top:87px;
  width:20px;
  height:20px;
}
#u1867 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1868 {
  position:absolute;
  left:82px;
  top:1231px;
  width:172px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1870 {
  position:absolute;
  left:82px;
  top:1455px;
  width:172px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1872 {
  position:absolute;
  left:94px;
  top:1010px;
  width:206px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:158px;
}
#u1874 {
  position:absolute;
  left:364px;
  top:1424px;
  width:201px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:51px;
  width:197px;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:364px;
  top:1279px;
  width:0px;
  height:0px;
  font-size:20px;
}
#u1876_seg0 {
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1876_seg1 {
  position:absolute;
  left:-117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1877 {
  position:absolute;
  left:-105px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:364px;
  top:1503px;
  width:0px;
  height:0px;
  font-size:20px;
}
#u1878_seg0 {
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1878_seg1 {
  position:absolute;
  left:-117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1879 {
  position:absolute;
  left:-105px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u1880 {
  position:absolute;
  left:465px;
  top:1358px;
  width:0px;
  height:0px;
  font-size:20px;
}
#u1880_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u1880_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u1881 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:158px;
}
#u1882 {
  position:absolute;
  left:364px;
  top:1658px;
  width:201px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:51px;
  width:197px;
  word-wrap:break-word;
}
#u1884 {
  position:absolute;
  left:465px;
  top:1582px;
  width:0px;
  height:0px;
  font-size:20px;
}
#u1884_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u1884_seg1 {
  position:absolute;
  left:-10px;
  top:63px;
  width:20px;
  height:20px;
}
#u1885 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1886 {
  position:absolute;
  left:82px;
  top:1689px;
  width:172px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1888 {
  position:absolute;
  left:379px;
  top:1940px;
  width:172px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:34px;
  width:168px;
  word-wrap:break-word;
}
#u1890 {
  position:absolute;
  left:364px;
  top:1737px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u1890_seg0 {
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1890_seg1 {
  position:absolute;
  left:-117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1891 {
  position:absolute;
  left:-105px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:465px;
  top:1816px;
  width:0px;
  height:0px;
  font-size:20px;
}
#u1892_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:128px;
}
#u1892_seg1 {
  position:absolute;
  left:-10px;
  top:111px;
  width:20px;
  height:20px;
}
#u1893 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:2px;
}
#u1896 {
  position:absolute;
  left:551px;
  top:1979px;
  width:132px;
  height:1px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1094px;
}
#u1898 {
  position:absolute;
  left:682px;
  top:888px;
  width:1px;
  height:1093px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:538px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:154px;
  height:19px;
}
#u1900p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:148px;
  height:4px;
}
#u1900p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:150px;
  height:6px;
}
#u1900p001 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1900p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1900.compound {
  width:0px;
  height:0px;
}
#u1900 {
  position:absolute;
  left:682px;
  top:888px;
  width:145px;
  height:1px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0066FF;
  text-align:center;
}
#u1902 {
  position:absolute;
  left:827px;
  top:861px;
  width:569px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0066FF;
  text-align:center;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u1904 {
  position:absolute;
  left:856px;
  top:953px;
  width:733px;
  height:240px;
  font-size:28px;
  color:#0099FF;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:743px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:856px;
  top:1220px;
  width:950px;
  height:743px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:2px;
  width:946px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:99px;
  height:31px;
}
#u1908 {
  position:absolute;
  left:522px;
  top:378px;
  width:84px;
  height:5px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
